.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box{
    border: 2px solid #ccc;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}
.box:hover{
    background-color: #cbf560;
}
.border{
    margin: 20px;
    margin-left: 600px;
    margin-right: 600px;
    border-radius: 4px;
}